<template>
  <text :x="elem.props.x" :y="elem.props.y">{{elem.props.id}}</text>
</template>

<script>
export default {
  props: {
    elem: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
</style>
