<template>
  <svg
    class="svg-canvas"
    :viewBox="`${viewport.x} ${viewport.y} ${viewport.w} ${viewport.h}`"
    ref="panRef"
    @wheel="onWheel"
  >
    <rect
      :x="board.x"
      :y="board.y"
      :width="board.width"
      :height="board.height"
      :style="board.style"
      class="board"
    />
    <ElemPreviewer v-for="item of root.children" :key="item.props.id" :elem="item" />
  </svg>
</template>

<script>
import { Elem, EElemType } from "./elem/Elem";
import ElemPreviewer from "./elem-previewers/ElemPreviewer";
import { onMounted, ref, reactive } from "vue";
import { useDrag, useWheel, useKey } from "../libs";
import { useResize } from "../libs/resize";
export default {
  components: { ElemPreviewer },
  setup() {
    const root = new Elem();
    root.children.push(new Elem({ type: EElemType.text, x: 50, y: 50 }));
    root.children.push(new Elem({ type: EElemType.text, x: 30, y: 30 }));
    const panRef = ref(null);
    const viewport = reactive({
      x: 0,
      y: 0,
      w: 0,
      h: 0,
    });
    let scale = 1;
    const wheel = useWheel(e => {
      const px = e.clientX / window.innerWidth;
      const py = e.clientY / window.innerHeight;
      const delta = Math.sign(e.deltaY) * 0.05;
      scale += delta;
      viewport.x += viewport.w * delta * px;
      viewport.y += viewport.h * delta * py;
      viewport.w *= 1 - delta;
      viewport.h *= 1 - delta;
      console.log("scale", scale);
    });
    useKey({
      key: "ctrl+s",
      listener: e => {
        e.preventDefault();
        console.log("save");
      },
    });
    let dragging = false;
    useKey({
      key: "ctrl",
      listener: (e, up) => {
        dragging = !up;
        console.log("dragging", dragging);
      },
    });
    const ctx = {
      ...wheel,
      panRef,
      viewport,
      root,
      board: {
        x: 0,
        y: 0,
        width: 100,
        height: 100,
        style: {
          fill: "#ffffff",
          stroke: "#000000",
          strokeWidth: 1,
        },
      },
    };
    useDrag({
      condition: e => dragging,
      listener: (dx, dy) => {
        ctx.viewport.x -= dx;
        ctx.viewport.y -= dy;
      },
    });
    function resize() {
      if (!panRef.value) {
        return;
      }
      const { width, height } = panRef.value.getBoundingClientRect();
      ctx.viewport.w = width;
      ctx.viewport.h = height;
      ctx.viewport.x = -Math.floor(width / 2);
      ctx.viewport.y = -Math.floor(height / 2);
    }
    onMounted(resize);
    useResize(resize);
    return ctx;
  },
};
</script>

<style scoped>
.svg-canvas {
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
}
</style>