<template>
  <Viewport>
    <Top>
      <p>top p</p>
    </Top>
    <Bottom>
      <p>bottom p</p>
    </Bottom>
    <Left>
      <p>left p</p>
    </Left>
    <Right>
      <p>right p</p>
    </Right>
    <Fill>
      <!-- <p>fill p</p> -->
      <CanvasSvg></CanvasSvg>
    </Fill>
  </Viewport>
</template>

<script>
import * as spaces from "../spaces";
import Top from "../spaces/Top";
import CanvasSvg from "./CanvasSvg";
export default {
  components: { CanvasSvg, ...spaces },
};
</script>

<style scoped>
</style>