<template>
  <div
    class="spaces-right"
    :style="{ top:s. top + s.unit, bottom: s.bottom + s.unit, left: s.left + s.unit, right: s.right + s.unit }"
  >
    <slot></slot>
  </div>
</template>

<script>
import { inject } from "vue";
import { ensure } from "../libs";
import { keyViewportState } from "./libs";
export default {
  setup() {
    const s = ensure(inject(keyViewportState));
    return {
      s,
    };
  },
};
</script>

<style scoped>
.spaces-right {
  position: absolute;
  right: 0;
  display: flex;
  overflow: hidden;
}
.content {
  flex: 1;
}
.resize-bar {
  background-color: lightgray;
  flex-shrink: 0;
  cursor: e-resize;
}
</style>