<template>
  <div
    class="spaces-left"
    :style="{ width: s.left + s.unit, top:s. top + s.unit, bottom: s.bottom + s.unit }"
  >
    <div class="content">
      <slot></slot>
    </div>
    <div class="resize-bar" :style="{ width: s.bar + s.unit }" ref="resizerRef"></div>
  </div>
</template>

<script>
import { inject, ref, onMounted } from "vue";
import { ensure, useDrag } from "../libs";
import { keyViewportState } from "./libs";
export default {
  setup() {
    const resizerRef = ref(null);
    const s = ensure(inject(keyViewportState));
    const ctx = {
      resizerRef,
      s,
    };

    useDrag({
      condition: e => e.target === resizerRef.value,
      listener: (dx, dy) => {
        s.left += dx;
      },
    });

    return ctx;
  },
};
</script>

<style scoped>
.spaces-left {
  position: absolute;
  left: 0;
  display: flex;
  overflow: hidden;
}
.content {
  flex: 1;
}
.resize-bar {
  background-color: lightgray;
  flex-shrink: 0;
  cursor: e-resize;
}
</style>
