<template>
  <div class="spaces-top" :style="{height: top + unit}">
    <slot></slot>
  </div>
</template>

<script>
import { inject } from "vue";
import { ensure } from "../libs";
import { keyViewportState } from "./libs";
export default {
  setup() {
    const s = ensure(inject(keyViewportState));
    return s;
  },
};
</script>

<style scoped>
.spaces-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
</style>