<template>
  <div class="spaces-viewport">
    <slot></slot>
  </div>
</template>

<script>
import { ref, reactive, provide } from "vue";
import { keyViewportState } from "./libs";
export default {
  props: {
    default: {
      type: Number,
      default: 50,
    },
    bar: {
      type: Number,
      default: 8,
    },
    unit: {
      type: String,
      default: "px",
    },
  },
  setup(props) {
    const state = reactive({
      default: props.default,
      left: props.default,
      right: props.default,
      top: props.default,
      bottom: props.default,
      unit: "px",
      bar: props.bar,
    });
    provide(keyViewportState, state);
  },
};
</script>

<style scoped>
.spaces-viewport {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
}
</style>